<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action = "">
        num_preg<input type="number" name="num_preg"><br>
        glucose_conc<input type="number" name="glucose_conc">><br>
        diastolic_bp<input type="number" name="diastolic_bp"><br>
        thickness<input type="number" name="thickness"><br>
        insulin<input type="number" name="insulin"><br>
        bmi<input type="number" name="diab_pred"><br>
        diab_pred<input type="number" name=""><br>
        age<input type="number" name="age"><br>
        skin<input type="number" name="skin"><br>
        <input type="submit">
    </form>
</body>
</html>